@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
h1 {
	text-align: center;
	background-color: green;
	font-family: 'Merriweather', serif; 
}
p {
	text-align: center;
	color:blue;
}
a {
	color:red;
	float: center;
}